body, table {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:10pt;
  background:#ffffff;
  width:800px;
}

.normalHeading {background-color:#dddddd; color:#666; font-size:12pt;}
.smallHeading {background-color:#eeeeee; color:#888; font-size:11pt;}
.menuHeading {background-color:#eeddcc; color:#864; font-size:10pt;}
.normalBold {font-size:10pt; font-weight:bold;}
.normalBlock {font-size:10pt; text-align:justify;}
.normal {font-size:10pt;}
.comment {font-size:8pt; color:silver;}
.advise {font-size:10pt; color:brown; text-align:justify;}

.header {
  background-image:url('cs_ima.jpg');
  background-repeat:no-repeat;
}

#menu {
  border-bottom:1px solid #ccc;
  margin:0;
  padding-bottom:19px;
  padding-left:10px;
}

#menu ul, #menu li {
  display:inline;
  list-style-type:none;
  margin:0;
  padding:0;
}

#menu a:link, #menu a:visited {
  background:#AAAAAA;
  border:1px solid #ccc;
  color:#fff;
  float:left;
  font-size:small;
  font-weight:normal;
  line-height:14px;
  margin-right:8px;
  padding:2px 10px 2px 10px;
  text-decoration:none;
}

#menu a:link.active, #menu a:visited.active {
  background:#fff;
  border-bottom:1px solid #fff;
  color:#000;
}

#menu a:hover {
  color:#f00;
}

body.section-1 #menu li#nav-1 a,
body.section-2 #menu li#nav-2 a,
body.section-3 #menu li#nav-3 a,
body.section-4 #menu li#nav-4 a,
body.section-5 #menu li#nav-5 a {
	background:#eee;
	border-bottom:1px solid #eee;
	color:#000;
}

#menu ul a:hover {
	color:#f00 !important;
}

#contents {
	background:#fff;
	border:1px solid #ccc;
	border-top:none;
	clear:both;
	margin:0px;
	padding:15px;
}

#submenu {
  background:#EEEEEE;
}
 
