*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.cache-main
*.idx
*.ilg
*.ind
*.lof
*.lot
*.nlo
*.toc
dist/
out/
.dist-buildwrapper/
.metadata/
.recommenders/
src-gen/
*.hp
*.prof
cabal-sandbox/
.cabal-sandbox/
cabal.sandbox.config
*_minted*
*.ibc
*.vscode
octave-workspace
*.cut
