<context id="Predator Prey" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
	<projection id="Simple Grid" type="grid" />
	<projection id="Continuous Space" type="continuous space" />
  <projection id="Grass Field" type="value layer" />
</context>