<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/repast.simphony.distributed.batch.ui/src-standalone/repast/simphony/batch/standalone/StandAloneMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="repast.simphony.batch.standalone.StandAloneMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-model_dir ${workspace_loc:Geography}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="repast.simphony.distributed.batch.ui"/>
</launchConfiguration>
