<context id="Heatbugs" class="repast.model.heatbugs.HeatbugContext" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">

	<attribute id="maxIdealTemp" display_name="Maximum Ideal Temp" value="17000" type="int" />
	<attribute id="initialNumAgents" display_name="Number of Agents" value="100" type="int" />
	
	<attribute id="minIdealTemp" display_name="Minimum Ideal Temp" value="31000" type="int" />
	<attribute id="minOutputTemp" display_name="Minimum Output Temp" value="3000" type="int" />
	<attribute id="maxOutputTemp" display_name="Maximum Output Temp" value="10000" type="int" />
	
	<attribute id="rndMoveProb" display_name="Random Move Probability" value="0" type="float" />
	
	
	
	<projection id="Bug Grid" type="grid" />
	<projection id="Heat Layer" type="value layer" />
	
</context>